*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;

    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
}

#page{
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

header{
    width: 42.8rem;
    height: auto;

    border-radius: .6rem;
    background: #fff;

    padding: 4.8rem 6.4rem;

    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

header h1{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 1.6rem;

    color: #34355B;
}

header span{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;

    color: rgba(52, 53, 91, 0.80);

}

header form{
    margin-top: 4.8rem;

    display: flex;
    justify-content: center;
}

header form input{
    width: 4.3rem;
    height: 5.3rem;
    padding: 1.6rem;

    background: #DCE2E9;

    border: none;
    border-radius: .4rem 0 0 .4rem;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

button {
    width: 8.2rem;
    color: #fff;
     font-size: 1.6rem;
     font-weight: 700;

     background:  #7879F1;
     border: none;

     border-radius: 0 .4rem .4rem 0;
}

button:hover{
    cursor: pointer;

    background:  #383875;
    transition: .4s;
}

.hidden{
    display: none;
}

.screenTwo h2{
    width: 100%;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;

    color: #34355B;
}

.screenTwo span{
    font-size: 2.2rem;
}

.screenTwo button{
    width: 16.6rem;
    height: 5.3rem;

    border-radius: .6rem;
}
